@model IEnumerable<RickLocalization.Web.Models.TripViewModel>

@if (Model?.Any() ?? false)
{
    <div class="lista-viagens">
        @foreach (TripViewModel item in Model)
        {
            <div class="card w-75">
                <div class="card-body">
                    <h5 class="card-title"> </h5>
                    <p class="card-text">Rick:@item.IdRick</p>
                    <p class="card-text">Dimensão:@item.IdDimensao</p>
                    <p class="card-text">Descrição da Viagem:@item.Descricao</p>
                </div>
            </div>
        }
    </div>

    <div>
        <a href="~/Rick/Detalhes?Id=@Model.FirstOrDefault().IdRick" class="btn btn-primary text-center" style="text-align:center">Voltar</a>
    </div>
}
